/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
body {
  font: 13px Microsoft YaHei, Helmet, Freesans, sans-serif;
}
/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */
/* We like off-black for text. */
body,
select,
input,
textarea {
  color: #333;
}
a {
  color: #03f;
}
a:hover {
  color: #69f;
}
/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection {
  background: #328EFE;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #328EFE;
  color: #fff;
  text-shadow: none;
}
/*	j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: #fcd700;
}
ins {
  background-color: #fcd700;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #fcd700;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
/* Mozilla dosen't style place holders by default */
input:-moz-placeholder {
  color: #a9a9a9;
}
textarea:-moz-placeholder {
  color: #a9a9a9;
}
.jspScrollable,
.jspContainer,
.jspPane,
.scroll {
  outline: none;
}
.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
#hfStudyBox {
  width: 1366px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
#rightCent {
  width: 602px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: #F2F2F2;
}
#rightCent .studyBoard {
  width: 602px;
  height: 100%;
  border: 1px solid #D9D9D9;
  background: #FFFFFF;
  position: relative;
}
#rightCent .studyBoard .boardCent {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 50px;
}
#rightCent .studyBoard .boardCent .scroll {
  width: 600px;
}
#rightCent .studyBoard .boardCent .jspVerticalBar {
  width: 14px;
  background: transparent;
  margin-right: 4px;
}
#rightCent .studyBoard .boardCent .jspTrack {
  background: transparent;
}
#rightCent .studyBoard .boardCent .jspDrag {
  background: #E6E6E6;
}
#rightCent .studyBoard .boardCent .jspCap {
  height: 10px;
  display: block;
}
#rightCent .studyBoard .boardCent .boardTitle {
  display: inline-block;
  padding: 26px 0px 14px 0px;
  margin: 0px 20px 30px 44px;
  font-size: 18px;
  color: #999999;
  border-bottom: 1px solid #D9D9D9;
}
#rightCent .studyBoard .boardBar {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  border-top: 1px solid #D9D9D9;
}
#rightCent .studyBoard .boardBar .soundBtn {
  position: absolute;
  left: 38px;
  top: 12px;
  width: 20px;
  height: 24px;
  cursor: pointer;
  background: url('../images/icons.png') no-repeat -114px -2px;
}
#rightCent .studyBoard .boardBar .prev {
  position: absolute;
  top: 16px;
  right: 100px;
  width: 18px;
  height: 24px;
  line-height: 9999px;
  overflow: hidden;
  cursor: pointer;
  background: url('../images/prev.png') no-repeat 4px 2px;
}
#rightCent .studyBoard .boardBar .next {
  position: absolute;
  top: 16px;
  right: 28px;
  width: 18px;
  height: 24px;
  line-height: 9999px;
  overflow: hidden;
  cursor: pointer;
  background: url('../images/next.png') no-repeat 4px 2px;
}
#rightCent .studyBoard .boardBar .num {
  position: absolute;
  top: 14px;
  right: 66px;
  font-size: 20px;
  color: #747474;
}
#rightCent .studyBoard .boardBar .swColor {
  position: absolute;
  top: 14px;
  left: 270px;
}
#rightCent .studyBoard .boardBar .swColor li {
  float: left;
  width: 22px;
  height: 22px;
  margin-left: 20px;
  cursor: pointer;
}
#rightCent .studyBoard .boardBar .swColor .penRed {
  background: red;
}
#rightCent .studyBoard .boardBar .swColor .penBlack {
  background: #000000;
}
#hfBoard {
  width: 100%;
  border-top: 1px dashed #E6E6E6;
  border-bottom: 1px dashed #E6E6E6;
}
#leftCent {
  position: absolute;
  top: 0;
  left: 0;
  width: 764px;
  height: 100%;
  background: #F2F2F2;
}
#leftCent .planBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 746px;
  height: 100%;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
}
#leftCent .panCent {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 50px;
  width: 100%;
}
#leftCent .panCent .panTitle {
  display: inline-block;
  padding: 26px 0px 14px 0px;
  margin: 0px 20px 30px 44px;
  font-size: 18px;
  color: #999999;
  border-bottom: 1px solid #D9D9D9;
}
#leftCent .panCent .test {
  width: 100%;
  height: 1000px;
  border-top: 1px dashed #E6E6E6;
  border-bottom: 1px dashed #E6E6E6;
}
#leftCent .panCent .jspVerticalBar {
  width: 8px;
  background: transparent;
  margin-right: 4px;
}
#leftCent .panCent .jspTrack {
  background: transparent;
}
#leftCent .panCent .jspDrag {
  background: #E6E6E6;
}
#leftCent .panCent .jspCap {
  height: 10px;
  display: block;
}
#leftCent .planBar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  border-top: 1px solid #D9D9D9;
  font-size: 16px;
  color: #999999;
}
#leftCent .planBar .showTaskBtn {
  width: 100px;
  height: 26px;
  position: absolute;
  top: 14px;
  left: 24px;
  padding-left: 36px;
  cursor: pointer;
}
#leftCent .planBar .showTaskBtn:before {
  content: "";
  display: block;
  background: url("../images/icon2.png") no-repeat 0px 0px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
}
#leftCent .planBar .playVideoBtn {
  width: 56px;
  height: 26px;
  position: absolute;
  padding-left: 20px;
  top: 14px;
  left: 280px;
  cursor: pointer;
}
#leftCent .planBar .playVideoBtn:before {
  content: "";
  display: block;
  background: url("../images/icon2.png") no-repeat -94px 0px;
  width: 16px;
  height: 26px;
  position: absolute;
  top: 0px;
  left: 0px;
}
#leftCent .planBar .playSoundBtn {
  width: 56px;
  height: 26px;
  position: absolute;
  padding-left: 20px;
  top: 14px;
  left: 374px;
  cursor: pointer;
}
#leftCent .planBar .playSoundBtn:before {
  content: "";
  display: block;
  background: url("../images/icon2.png") no-repeat -68px 0px;
  width: 16px;
  height: 26px;
  position: absolute;
  top: 0px;
  left: 0px;
}
#leftCent .planBar .morePlen {
  width: 96px;
  height: 26px;
  position: absolute;
  padding-left: 28px;
  top: 14px;
  left: 474px;
  cursor: pointer;
}
#leftCent .planBar .morePlen:before {
  content: "";
  display: block;
  background: url("../images/icon2.png") no-repeat -34px 0px;
  width: 20px;
  height: 26px;
  position: absolute;
  top: 0px;
  left: 0px;
}
#leftCent .planBar .prev {
  position: absolute;
  top: 16px;
  right: 100px;
  width: 18px;
  height: 24px;
  line-height: 9999px;
  overflow: hidden;
  cursor: pointer;
  background: url('../images/prev.png') no-repeat 4px 2px;
}
#leftCent .planBar .next {
  position: absolute;
  top: 16px;
  right: 28px;
  width: 18px;
  height: 24px;
  line-height: 9999px;
  overflow: hidden;
  cursor: pointer;
  background: url('../images/next.png') no-repeat 4px 2px;
}
#leftCent .planBar .num {
  position: absolute;
  top: 14px;
  right: 66px;
  font-size: 20px;
  color: #747474;
}
#taskCent {
  position: absolute;
  top: 128px;
  bottom: 70px;
  left: 44px;
  width: 656px;
  border: 1px solid #D9D9D9;
  box-shadow: #D9D9D9 0px 0px 6px;
  display: none;
}
#taskCent .taskBox {
  position: absolute;
  width: 100%;
  height: 100%;
}
#taskCent .taskBox:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -10px;
  left: 20px;
  border-top: 10px solid #D9D9D9;
  border-right: 16px solid transparent;
  border-left: 16px solid transparent;
  z-index: 9999;
}
#taskCent .taskBox:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -8px;
  left: 20px;
  border-top: 10px solid #FFFFFF;
  border-right: 16px solid transparent;
  border-left: 16px solid transparent;
  z-index: 9999;
}
#taskCent .taskBox .taskTitle {
  position: relative;
  height: 28px;
  font-size: 18px;
  line-height: 28px;
  background: #F7F7F7;
  color: #9E9E9E;
  text-align: center;
  border-bottom: 1px solid #DCDCDC;
}
#taskCent .taskBox .close {
  position: absolute;
  padding-top: 2px;
  padding-right: 2px;
  cursor: pointer;
  top: 0;
  right: 0;
  width: 26px;
  height: 26px;
  background: url('../images/icons3.png') no-repeat -62px 8px;
}
#taskCent .taskBox .taskCent {
  position: absolute;
  width: 100%;
  top: 28px;
  bottom: 135px;
  overflow: hidden;
}
#taskCent .taskBox .taskCent .scroll {
  width: 654px;
}
#taskCent .taskBox .taskCent .jspVerticalBar {
  width: 8px;
  background: transparent;
  margin-right: 4px;
}
#taskCent .taskBox .taskCent .jspTrack {
  background: transparent;
}
#taskCent .taskBox .taskCent .jspDrag {
  background: #E6E6E6;
}
#taskCent .taskBox .taskCent .jspCap {
  height: 10px;
  display: block;
}
#taskCent .taskBox .taskBar {
  position: absolute;
  width: 100%;
  bottom: 0;
}
#titBar {
  left: 12px;
  right: 36px;
  height: 80px;
  background: white;
  position: absolute;
  z-index: 2;
  top: 0;
}
#titBar .tit {
  font-size: 16px;
  color: #999999;
  margin-top: 20px;
  padding-top: 6px;
  float: left;
  margin-left: 300px;
}
#titBar .closeBtn {
  width: 100px;
  height: 32px;
  margin-top: 20px;
  background: #3498DB;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  cursor: pointer;
  float: right;
}
#popBox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999999;
  display: none;
}
#popBox .maskbg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.8;
}
#popBox .sureCloseBox {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 376px;
  height: 170px;
  margin-top: -135px;
  margin-left: -183px;
  background: white;
  border-radius: 4px;
  font-size: 20px;
}
#popBox .sureCloseBox .msg {
  width: 100%;
  margin-top: 50px;
  text-align: center;
}
#popBox .sureCloseBox .cancel,
#popBox .sureCloseBox .end {
  width: 104px;
  height: 36px;
  line-height: 34px;
  text-align: center;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  margin-top: 32px;
  cursor: pointer;
}
#popBox .sureCloseBox .cancel {
  color: #CCCCCC;
  margin-left: 60px;
  float: left;
}
#popBox .sureCloseBox .end {
  color: white;
  margin-right: 60px;
  float: right;
  background: #3498DB;
}
#popBox .ratyBox {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 260px;
  height: 280px;
  margin-top: -130px;
  margin-left: -140px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  font-size: 20px;
}
#popBox .ratyBox .topBox {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 52px;
  background: #F7F7F7;
  border-bottom: 1px solid #D9D9D9;
}
#popBox .ratyBox .topBox .tit {
  font-size: 18px;
  display: inline-block;
  margin-left: 20px;
  margin-top: 14px;
  float: left;
}
#popBox .ratyBox .topBox .num {
  font-size: 18px;
  display: inline-block;
  margin-right: 20px;
  margin-top: 14px;
  float: right;
  color: #B1B1B1;
}
#popBox .ratyBox .bottomBox {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 68px;
  background: #F7F7F7;
  border-top: 1px solid #D9D9D9;
}
#popBox .ratyBox .bottomBox .prevBtn {
  width: 30px;
  height: 30px;
  background: url('../images/prev.png') no-repeat 50% 50%;
  overflow: hidden;
  line-height: 99999%;
  cursor: pointer;
  float: left;
  position: absolute;
  top: 50%;
  margin-top: -14px;
  left: 10px;
}
#popBox .ratyBox .bottomBox .nextBtn {
  width: 84px;
  height: 30px;
  background: #3498DB;
  color: #FFFFFF;
  border-radius: 4px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  position: absolute;
  left: 50%;
  margin-left: -42px;
  top: 50%;
  margin-top: -14px;
  cursor: pointer;
}
#popBox .ratyBox .ratyList {
  position: absolute;
  bottom: 68px;
  top: 52px;
  right: 0;
  left: 0;
}
#popBox .ratyBox .ratyList li {
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #E6E6E6;
}
#popBox .ratyBox .ratyList li:last-of-type {
  border-bottom: none;
}
#popBox .ratyBox .ratyList li .ratyTit {
  margin-top: 14px;
  margin-left: 30px;
  font-size: 16px;
  display: inline-block;
}
#popBox .ratyBox .ratyList li .raty {
  width: 100px;
  margin-top: 14px;
  margin-right: 10px;
  float: right;
}
#popBox .remarkBox {
  position: absolute;
  width: 350px;
  height: 316px;
  top: 50%;
  left: 50%;
  margin-top: -175px;
  margin-left: -158px;
  border-radius: 4px;
  overflow: hidden;
  background: #F7F7F7;
  display: none;
}
#popBox .remarkBox .topBox {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 52px;
  background: #F7F7F7;
  border-bottom: 1px solid #D9D9D9;
}
#popBox .remarkBox .topBox .tit {
  font-size: 18px;
  display: inline-block;
  margin-left: 20px;
  margin-top: 14px;
  float: left;
}
#popBox .remarkBox .topBox .num {
  font-size: 18px;
  display: inline-block;
  margin-right: 20px;
  margin-top: 14px;
  float: right;
  color: #B1B1B1;
}
#popBox .remarkBox .bottomBox {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 68px;
  background: #F7F7F7;
  border-top: 1px solid #D9D9D9;
}
#popBox .remarkBox .bottomBox .prevBtn {
  width: 30px;
  height: 30px;
  background: url('../images/prev.png') no-repeat 50% 50%;
  overflow: hidden;
  line-height: 99999%;
  cursor: pointer;
  float: left;
  position: absolute;
  top: 50%;
  margin-top: -14px;
  left: 10px;
}
#popBox .remarkBox .bottomBox .nextBtn {
  width: 84px;
  height: 30px;
  background: #3498DB;
  color: #FFFFFF;
  border-radius: 4px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  position: absolute;
  left: 50%;
  margin-left: -42px;
  top: 50%;
  margin-top: -14px;
  cursor: pointer;
}
#popBox .remarkBox .centBox {
  position: absolute;
  bottom: 68px;
  top: 52px;
  right: 0;
  left: 0;
}
#popBox .remarkBox .centBox li {
  width: 100%;
  height: 100px;
}
#popBox .remarkBox .centBox li .remarkTit {
  font-size: 18px;
  display: inline-block;
  margin-left: 20px;
  margin-top: 14px;
  float: left;
}
#popBox .remarkBox .centBox li .remark {
  width: 196px;
  height: 72px;
  resize: none;
  border-radius: 4px;
  border: 1px solid #E7E7E7;
  margin-top: 10px;
  margin-right: 20px;
  float: right;
}
/* Media queries
-------------------------------------------------------------------------------*/
/* Print styles
-------------------------------------------------------------------------------*/
